* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(28, 156, 28);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 25s infinite linear;
    background: linear-gradient(#87CEEB);
}

.gameover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    animation: colorChange 1s infinite alternate;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }    
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }    
}

@keyframes colorChange {
    0% {
        filter: invert(0%); /* 0% de inversão (preto) */
    }
    100% {
        filter: invert(100%); /* 100% de inversão (branco) */
    }
}